<%= javascript_include_tag 'recipes_form', defer: true %>
<section id="recipe-form-section">
  <h1>Nueva Receta</h1>
  <div class="horizontal-flex">
    <%= form_with model: @recipe do |form| %>
      <div class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </div>
      <div class="field">
        <%= form.label :detail %><br>
        <%= form.text_area :detail, size: "50x20" %>
      </div>
      <div class="field">
        <%= form.label :cooking_time %><br>
        <%= form.text_field :cooking_time %>
      </div>
      <div class="field">
        <%= form.label :image do %>
          <%= image_tag 'picture_image', class: "img-responsive add-photo-button", alt: "Agregar foto", size:"130x130" %>
        <% end %>
        <%= form.file_field :image, style: "display: none;" %>
      </div>
      <div data-controller="recipe">
        <div class="skills text-center">
          <div class="user-skills field">
            <% if action_name == "new"%>
              <%= form.hidden_field :ingredients_ids%>
            <% elsif action_name == "edit"%>
              <%= form.hidden_field :ingredients_ids, value: @recipe.ingredients.pluck(:id)%>
            <%end%>
          </div>
        </div>
        <div id="tags_list">
          <%=select_tag "tags", options_from_collection_for_select(@tags, "id", "name"), multiple: true, :include_blank => true%>
        </div>
      </div>
      <div>
        <%puts action_name%>
        <% if action_name == "new"%>
          <%= form.submit "Crear receta",  class:"button", data: { disable_with: "Creando receta" }%>
        <% else %>
          <%= form.submit "Editar receta",  class:"button", data: { disable_with: "Editando receta" }%>
        <% end %>
      </div>
    <% end %>
    <section id="add-ingredients-tab">
      <%= form_with model: @recipe do |form| %>
      <h3>Ingredients</h3>
      <div data-controller="recipe">
        <%= form.label :ingredients %><br>
        <div class="skills text-center">
          <div class="user-skills field">
            <%= form.text_field :ingredients, :placeholder => "Buscar ingredientes",  :class => 'form-control multiple-input'%>
          </div>
        </div>
        <div id="ingredients_list">
        </div>
      </div>
      <ul id="added-ingredients-list">
        <% unless @recipe.ingredients.empty? %>
          <% @recipe.ingredients.each do |ingredient| %>
            <li data-idadded="ingredient_id">
              <%= ingredient.name%>
              <span onclick="removeIngredientFromList(this)">x</span>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    </section>
  </div>
  <div>
    <p>¿No sabés que cocinar?</p>
    <%= link_to 'Crear receta con inteligencia artificial', ai_recipe_path, class:"button" %>
  </div>
</section>