<section id="new-recipe-section">
  <h1>New Recipe</h1>
  <div class="horizontal-flex">
    <%= form_with model: @recipe do |form| %>
      <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :detail %><br>
        <%= form.text_area :detail %>
      </div>

      <div>
        <%= form.label :image %><br>
        <%= form.file_field :image %>
      </div>

      <div data-controller="recipe">
        <%= form.label :ingredients %><br>
        <div class="skills text-center">
          <div class="user-skills">
            <%= form.text_field :ingredients, :placeholder => "Buscar ingredientes",  :class => 'form-control multiple-input'%>
            <%= form.hidden_field :ingredients_ids%>

            <%# select_tag "ingredients", options_from_collection_for_select(@ingredients, "id", "name"), {class:"invisible-form", :multiple => true, :size => 6} %>

          </div>
        </div>
        <div id="ingredients_list">
          <%# render 'ingredients/index', ingredients: @ingredients %>
        </div>
      </div>

      <div>
        <%= form.submit "Crear receta",  class:"button", data: { disable_with: "Creando receta" }%>
      </div>
    <% end %>
    <section id="add-ingredients-tab">
      <h3>Ingredients</h3>
      <ul id="added-ingredients-list">
        <li data-idadded="ingredient_id">
          Ingredient_name
          <span onclick="removeIngredientFromList(this)">x</span>
        </li>
      </ul>
    </section>
  </div>
  
</section>


<script>
  function addIngredientToList(ingredient){
    if (checkIngredientWasntAddedBefore(ingredient)){
      console.log("El ingrediente ya se había seleccionado");
    }
    else{
      let addedIngredientsList = document.getElementById('added-ingredients-list');
      let ids_list = document.getElementById('recipe_ingredients_ids')
      console.log(ids_list)
      ids_list.value += `${ingredient.dataset.id},`;

      addedIngredientsList.innerHTML += `<li data-idadded="${ingredient.dataset.id}">${ingredient.innerText}<span onclick="removeIngredientFromList(this)">x</span></li>`;
    }
  }

  function checkIngredientWasntAddedBefore(ingredient){
    let flag = false;
    let addedIngredientsList = document.getElementById('added-ingredients-list');
    let addedIngredients = document.querySelectorAll('#added-ingredients-list li');

    Array.from(addedIngredients).forEach(addedIngredients => {
      if(addedIngredients.dataset.idadded == ingredient.dataset.id ){
        flag = true
      }
      console.log(addedIngredients.dataset.idadded);
      console.log(ingredient.dataset.id);
      
    });
    return flag;
  }

  function removeIngredientFromList(ingredient){
    ingredient.parentNode.outerHTML = '';
  }
</script>