<section id="recipes_show">
  <div id="primary_column">
    <h1><%=@recipe.name%></h1>
    <%puts @recipe.inspect%>

      <% unless @recipe.ingredients.blank? %>
        <h3>Lista de ingredientes:</h3>
        <ul>
          <%@recipe.ingredients.each do |ingredient|%>
            <li><%=ingredient.name.downcase.capitalize()%></li>
          <% end %>
        </ul>
      <% end %>


    <h3>Tiempo de preparación: </h3>
    <h3>Instrucciones:</h3>
    <p><%#@recipe.detail%><%= @recipe.ingredients.inspect%></p>

  </div>

  <div id="secondary_column">
    <h3>Receta de: <%=@user.name%></h3>
    <h3>Galería de imágenes</h3>
    <%unless @recipe.image.blank?%>
      <%= image_tag @recipe.image, class:"img-responsive" %>
    <%end%>
  </div>
  
</section>