<header>
  <section id="home">
    <div class="img-container">
      <a href="/">
        <%= image_tag 'Logo', class:"img-responsive", alt:"Compartiendo Recetas" %>
      </a>
     </div> 
  </section>
  <section id="search_bar">
    <p>This is a search bar</p>
  </section>
  <% if !user_signed_in? %>
    <section id="user_menu_not_logged_in">
      <%= link_to 'Iniciar Sesión', new_user_session_path , class:"button"%>
      <%= link_to 'Registarse', new_user_registration_path , class:"button"%>
    </section>
  <%else%>
    <section id="user_menu_logged_in">
      <%= link_to 'Mis Recetas', my_recipes_path, class:"button"%>
      
      <%= link_to 'Nueva Receta', new_recipe_path, class:"button"%>
      <p>Mis Ingredientes</p>
      <%= button_to "Sign out", destroy_user_session_path, :method => :delete,  class:"button"%>
    </section>
  <%end%>
</header>