<%= javascript_include_tag 'header', defer: true %>
<header>
  <section id="home">
    <div class="img-container">
      <a href="/">
        <%= image_tag 'Logo', class:"img-responsive", alt:"Compartiendo Recetas" %>
      </a>
    </div> 
  </section>
  <section id="search_bar">
    <form class="d-flex ms-auto">
      <div class="search-bar">
        <input type="text" placeholder="Pizza al horno...">
        <button type="submit" class="button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>
  </section>
  <% if !user_signed_in? %>
    <section id="user_menu_not_logged_in">
      <%= link_to 'Iniciar Sesión', new_user_session_path , class:"button"%>
      <%= link_to 'Registarse', new_user_registration_path , class:"button"%>
    </section>
  <%else%>
    <section id="user_menu_logged_in">
      <div id="user_menu_logged_in_dropdown">
        <%= link_to 'Mis Recetas', my_recipes_path, class:"button"%>
        <%= link_to 'Mis Ingredientes', mis_ingredientes_path, class:"button"%>
        <%= button_to "Cerrar sesión", destroy_user_session_path, :method => :delete,  class:"button"%>
      </div>
      <%= link_to 'Nueva Receta', new_recipe_path, class:"button"%>
      <%= link_to perfil_path, class:"button user-icon-link" do%>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </section>
  <%end%>
</header>